.traffic-light-stick{
    height: 50px;
    width: 10px;
    background-color: black;
    margin: auto
  }
  
  .traffic-light-face{
    height: 190px;
    width: 60px;
    background-color: black;
    margin: auto;
    padding-top: 10px;
  }
  
  .light{
    height: 50px;
    width: 50px;
    margin: auto;
    border-radius: 50%;
  }
  
  .red{
    background-color: red;
  }
  
  .yellow{
    background-color: yellow;
    margin-top: 10px;
  }
  
  .green{
    background-color: green;
    margin-top: 10px;
  }
  
  .selected{
    box-shadow: 1px 1px 40px 10px white;
  }
  .cycle-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-weight: bold;
    background-color: #333;
    color: white;
    margin: auto;
    
  }